# Python
__pycache__/
*.py[cod]
*.pyo
*.pyd
.Python

# Virtual environments
env/
venv/
.venv/
kl_env/

# Conda
*.conda

# IDE
.vscode/
.idea/

# OS
.DS_Store
Thumbs.db

# Logs
*.log

# Local env files
.env
.env.*
