anyio @ file:///C:/miniconda3/conda-bld/anyio_1758622439618/work
argon2-cffi @ file:///C:/Users/task_176606774961737/croot/argon2-cffi_1766067889655/work
argon2-cffi-bindings @ file:///C:/miniconda3/conda-bld/argon2-cffi-bindings_1757925012741/work
asttokens @ file:///C:/b/abs_9662ywy9fp/croot/asttokens_1743630464377/work
async-lru @ file:///C:/miniconda3/conda-bld/async-lru_1761121600688/work
attrs @ file:///C:/miniconda3/conda-bld/attrs_1762356939015/work
babel @ file:///C:/miniconda3/conda-bld/babel_1764159344759/work
beautifulsoup4 @ file:///C:/miniconda3/conda-bld/beautifulsoup4-split_1764159472776/work
bleach @ file:///C:/miniconda3/conda-bld/bleach_1764153707707/work
blinker==1.9.0
branca==0.8.2
brotlicffi @ file:///C:/miniconda3/conda-bld/brotlicffi_1764961372591/work
certifi @ file:///C:/Users/task_176765902528894/croot/certifi_1767659216804/work/certifi
cffi @ file:///C:/miniconda3/conda-bld/cffi_1761832794697/work
charset-normalizer @ file:///C:/miniconda3/conda-bld/charset-normalizer_1761744944645/work
click==8.3.1
colorama @ file:///C:/b/abs_a9ozq0l032/croot/colorama_1672387194846/work
comm @ file:///C:/miniconda3/conda-bld/comm_1763119233835/work
dash==4.0.0
dash-bootstrap-components==2.0.4
debugpy @ file:///C:/miniconda3/conda-bld/debugpy_1762421657095/work
decorator @ file:///C:/miniconda3/conda-bld/decorator_1757341256088/work
defusedxml @ file:///tmp/build/80754af9/defusedxml_1615228127516/work
et_xmlfile==2.0.0
exceptiongroup @ file:///C:/miniconda3/conda-bld/exceptiongroup_1761560437674/work
executing @ file:///C:/miniconda3/conda-bld/executing_1757061252959/work
fastjsonschema @ file:///C:/miniconda3/conda-bld/python-fastjsonschema_1763718726757/work
Flask==3.1.2
folium==0.20.0
geographiclib==2.1
geopy==2.4.1
h11 @ file:///C:/miniconda3/conda-bld/h11_1761931282349/work
html5lib @ file:///Users/ktietz/demo/mc3/conda-bld/html5lib_1629144453894/work
httpcore @ file:///C:/b/abs_25m7_xthp6/croot/httpcore_1748526065845/work
httpx @ file:///C:/miniconda3/conda-bld/httpx_1760447376159/work
idna @ file:///C:/miniconda3/conda-bld/idna_1761912044311/work
importlib_metadata==8.7.1
ipykernel @ file:///C:/miniconda3/conda-bld/ipykernel_1762946093903/work
ipython @ file:///C:/b/abs_8eyhzleyrk/croot/ipython_1734548134403/work
ipython_pygments_lexers @ file:///C:/b/abs_b66hj1lo19/croot/ipython_pygments_lexers_1744753262043/work
ipywidgets @ file:///C:/miniconda3/conda-bld/ipywidgets_1761560181476/work
itsdangerous==2.2.0
jedi @ file:///C:/b/abs_3a2kbnlclc/croot/jedi_1733987412687/work
Jinja2 @ file:///C:/b/abs_920kup4e6u/croot/jinja2_1741711580669/work
json5 @ file:///C:/miniconda3/conda-bld/json5_1763718570061/work
jsonschema @ file:///C:/Users/task_176795548334600/croot/jsonschema_1767955585602/work
jsonschema-specifications @ file:///C:/miniconda3/conda-bld/jsonschema-specifications_1762788648330/work
jupyter @ file:///C:/b/abs_32aohix0i1/croot/jupyter_1737645821205/work
jupyter-console @ file:///C:/b/abs_82xaa6i2y4/croot/jupyter_console_1680000189372/work
jupyter-events @ file:///C:/miniconda3/conda-bld/jupyter_events_1765813622940/work
jupyter-lsp @ file:///C:/Users/task_176977265234360/croot/jupyter-lsp_1769772755702/work
jupyter_client @ file:///C:/Users/task_176839864521852/croot/jupyter_client_1768399093953/work
jupyter_core @ file:///C:/miniconda3/conda-bld/jupyter_core_1764588347534/work
jupyter_server @ file:///C:/Users/task_176961323688807/croot/jupyter_server_1769613449402/work
jupyter_server_terminals @ file:///C:/Users/task_176959348468330/croot/jupyter_server_terminals_1769594005658/work
jupyterlab @ file:///C:/Users/task_176967920244763/croot/jupyterlab_1769679306106/work
jupyterlab_pygments @ file:///C:/b/abs_d5alfet8m6/croot/jupyterlab_pygments_1741124274578/work
jupyterlab_server @ file:///C:/Users/task_176962937278440/croot/jupyterlab_server_1769629917911/work
jupyterlab_widgets @ file:///C:/Users/task_176898655123366/croot/jupyterlab_widgets_1768986655526/work
MarkupSafe @ file:///C:/b/abs_a0ma7ge0jc/croot/markupsafe_1738584052792/work
matplotlib-inline @ file:///C:/miniconda3/conda-bld/matplotlib-inline_1762779265381/work
mistune @ file:///C:/b/abs_77yql3poyz/croot/mistune_1741124004410/work
narwhals==2.15.0
nbclient @ file:///C:/b/abs_a09c4t3h8x/croot/nbclient_1741124030330/work
nbconvert @ file:///C:/b/abs_c27_60dzt8/croot/nbconvert-meta_1741191385337/work
nbformat @ file:///C:/b/abs_c2jkw46etm/croot/nbformat_1728050303821/work
nest-asyncio @ file:///C:/b/abs_65d6lblmoi/croot/nest-asyncio_1708532721305/work
notebook @ file:///C:/miniconda3/conda-bld/notebook_1764679905140/work
notebook_shim @ file:///C:/Users/task_176962932903714/croot/notebook-shim_1769629908104/work
numpy==2.2.6
openpyxl==3.1.5
overrides @ file:///C:/miniconda3/conda-bld/overrides_1762349109560/work
packaging @ file:///C:/miniconda3/conda-bld/packaging_1761049101700/work
pandas==2.3.3
pandocfilters @ file:///C:/miniconda3/conda-bld/pandocfilters_1756977625119/work
parso @ file:///C:/miniconda3/conda-bld/parso_1762781925562/work
platformdirs @ file:///C:/miniconda3/conda-bld/platformdirs_1762356608986/work
plotly==6.5.2
prometheus_client @ file:///C:/b/abs_8b175q_ub8/croot/prometheus_client_1744271638821/work
prompt_toolkit @ file:///C:/miniconda3/conda-bld/prompt-toolkit_1761745021230/work
psutil @ file:///C:/miniconda3/conda-bld/psutil_1761896539676/work
pure_eval @ file:///C:/miniconda3/conda-bld/pure_eval_1757067068391/work
pycparser @ file:///C:/miniconda3/conda-bld/pycparser_1757496059965/work
Pygments @ file:///C:/miniconda3/conda-bld/pygments_1762431425987/work
PySocks @ file:///C:/miniconda3/conda-bld/pysocks_1761753030270/work
python-dateutil @ file:///C:/b/abs_3au_koqnbs/croot/python-dateutil_1716495777160/work
python-json-logger @ file:///C:/miniconda3/conda-bld/python-json-logger_1764590249459/work
pytz==2025.2
pywin32 @ file:///C:/b/abs_6c9w_vp9zi/croot/pywin32_1754670534373/work
pywinpty @ file:///C:/Users/task_176958932477027/croot/pywinpty_1769589549501/work
PyYAML @ file:///C:/miniconda3/conda-bld/pyyaml_1763465513320/work
pyzmq @ file:///C:/miniconda3/conda-bld/pyzmq_1762375610449/work
qtconsole @ file:///C:/miniconda3/conda-bld/qtconsole_1758748651953/work
QtPy @ file:///C:/miniconda3/conda-bld/qtpy_1757531178920/work
referencing @ file:///C:/miniconda3/conda-bld/referencing_1762536910091/work
requests @ file:///C:/miniconda3/conda-bld/requests_1762359612241/work
retrying==1.4.2
rfc3339-validator @ file:///C:/b/abs_ddfmseb_vm/croot/rfc3339-validator_1683077054906/work
rfc3986-validator @ file:///C:/b/abs_6e9azihr8o/croot/rfc3986-validator_1683059049737/work
rpds-py @ file:///C:/miniconda3/conda-bld/rpds-py_1762366614812/work
Send2Trash @ file:///C:/Users/task_176817065969485/croot/send2trash_1768170763283/work
six @ file:///C:/b/abs_149wuyuo1o/croot/six_1744271521515/work
sniffio @ file:///C:/miniconda3/conda-bld/sniffio_1764329212488/work
soupsieve @ file:///C:/b/abs_bbsvy9t4pl/croot/soupsieve_1696347611357/work
stack_data @ file:///C:/miniconda3/conda-bld/stack_data_1757067051465/work
terminado @ file:///C:/Users/task_176959131752406/croot/terminado_1769591781114/work
tinycss2 @ file:///C:/b/abs_df38owi5ma/croot/tinycss2_1738337725183/work
tomli @ file:///C:/Users/task_176829653256119/croot/tomli_1768296653758/work
tornado @ file:///C:/Users/task_176599267555405/croot/tornado_1765992779662/work
traitlets @ file:///C:/b/abs_bfsnoxl4pq/croot/traitlets_1718227069245/work
typing_extensions @ file:///C:/b/abs_ecq8gc0vbm/croot/typing_extensions_1756281142218/work
tzdata==2025.3
urllib3 @ file:///C:/Users/task_176781036207501/croot/urllib3_1767810484846/work
wcwidth @ file:///C:/Users/task_176777900206875/croot/wcwidth_1767779217517/work
webencodings==0.5.1
websocket-client @ file:///C:/b/abs_5dmnxxoci9/croot/websocket-client_1715878351319/work
Werkzeug==3.1.5
widgetsnbextension @ file:///C:/miniconda3/conda-bld/widgetsnbextension_1761556853993/work
win_inet_pton @ file:///C:/miniconda3/conda-bld/win_inet_pton_1761746276406/work
xyzservices==2025.11.0
zipp==3.23.0
